@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.content{
  max-width:1250px;
  margin: auto;
  padding: 0px 30px;
  
}
.navbar{
  position:fixed;
  z-index:5;
  width:100%;
  padding: 25px 0;
  background: #1b1b1b;
	transition: all 0.3s ease;
}
.navbar.sticky{
  background: #1b1b1b;
  padding: 10px 0;
}
.navbar .content{
  display: flex;
  align-items:center;
  justify-content:space-between;
}
.navbar .logo a{
  color:#fff;
  font-size:30px;
  font-weight:600;
  text-decoration:none;
}
.navbar .menu-list{
  display:inline-flex;
}
.menu-list li{
  list-style:none;
}
.menu-list li a{
	color: #fff;
  font-size:18px;
  font-weight:500;
  margin-left: 25px;
  text-decoration:none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color:cyan;
}
/* hero background image */
.bgimage {
    height:100vh;
    background: url("banner.jpg");
    background-size:cover;
    position:relative;
}

/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: black;
}

.education .title{
  font-size:35px;
  font-weight: 700;
}
.education p{
  padding-top: 20px;
  text-align: justify;
}

/* services section css */

.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}

.icon{
  color:#fff;
  font-size:20px;
  cursor: pointer;
  display: none;
}
.icon .cancel-btn{
  position:absolute;
  right:30px;
  top:20px; 
}
/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}
@media (max-width:868px){
  body.disabledScroll{
  overflow:hidden;
  }  
  .icon{
    display: block;
  }
  .icon.hide{
    display:none;
  }
  .navbar .menu-list{
    position:fixed;
    top:0;
    left: 100%;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    background:#222;
    display:block;
    padding:40px 0;
    text-align: center;
    transition: all 0.3s ease;
  }
  .navbar .menu-list.active{
    left: 0%;
  }
.navbar .menu-list li{
  margin-top:45px;
}
.navbar .menu-list li a{
  font-size:23px;
 }
}  